<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>arpa3voucher</name>
	<displayName><![CDATA[arpa3voucher]]></displayName>
	<version><![CDATA[1.0.1]]></version>
	<description><![CDATA[Promotions paniers Arpa3]]></description>
	<author><![CDATA[Arpa3]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
